# Practical 3
## Lists, Tuples, Dictionaries, Functions

**Name:** Chahat Kalsi<br>
**Roll no.:** UE193032<br>
**Class:** CSE, Section 1, 5th Sem

<hr style="border:2px solid gray"> </hr>

## Lists

### Declaration

In [10]:
list1 = [1,2,3,4,5]
list2 = ['a', 'b', "hello", [1,2,3], (1,2), 0.456, 1]

print(list1)
print(list2)

[1, 2, 3, 4, 5]
['a', 'b', 'hello', [1, 2, 3], (1, 2), 0.456, 1]

In [28]:
list_a = list("hello")
list_b = list((1,2,3))

print(list_a)
print(list_b)

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]

### Indexing and Slicing
```syntax: list_name[start:end:step]```

In [11]:
print(list1[:])
print(list1[1::2])
print(list2[::2])
print(list2[-4:-2])

[1, 2, 3, 4, 5]
[2, 4]
['a', 'hello', (1, 2), 1]
[[1, 2, 3], (1, 2)]

### Updating Lists

In [12]:
print("Original List = ",list1)
list1[2]="Wonderful"
print("Updated List = ", list1)

Original List =  [1, 2, 3, 4, 5]
Updated List =  [1, 2, 'Wonderful', 4, 5]

### Deleting List Elements
- using del keyword
- using .remove() method

#### del

In [13]:
print("Original List = ",list1)

del list1[2] # deleting 3rd element
print("Updated List = ", list1)

Original List =  [1, 2, 'Wonderful', 4, 5]
Updated List =  [1, 2, 4, 5]

#### .remove()

In [16]:
list1 = [x for x in range(5)]
print(list1)

list1.remove(1)
print(list1)

try:
    list1.remove('hello')
except ValueError:
    print("Error: Value not in list")
    
print(list1)

[0, 1, 2, 3, 4]
[0, 2, 3, 4]
Error: Value not in list
[0, 2, 3, 4]

### List Operations

In [19]:
l1 = list("List Operations")
l2 = list("ugly duckling")

#### Finding Length

In [21]:
print(len(l1))
print(len(l2))

15
13

#### Concatenation

In [25]:
print(l1+l2)

['L', 'i', 's', 't', ' ', 'O', 'p', 'e', 'r', 'a', 't', 'i', 'o', 'n', 's', 'u', 'g', 'l', 'y', ' ', 'd', 'u', 'c', 'k', 'l', 'i', 'n', 'g']

#### Repetition

In [23]:
print(l1*2)

['L', 'i', 's', 't', ' ', 'O', 'p', 'e', 'r', 'a', 't', 'i', 'o', 'n', 's', 'L', 'i', 's', 't', ' ', 'O', 'p', 'e', 'r', 'a', 't', 'i', 'o', 'n', 's']

#### Checking Membership

In [26]:
'z' in l1

False

#### Traversal

In [27]:
for x in l1+l2:
    print(x, end=', ')

L, i, s, t,  , O, p, e, r, a, t, i, o, n, s, u, g, l, y,  , d, u, c, k, l, i, n, g,

### List methods

In [14]:
l = [1,2,"hello", 'a', (2,3), 5.9]

In [15]:
print('APPEND')
l.append(88.88)
print(l)
print()

print('COUNT')
print(l.count(1))
print()

print('EXTEND')
seq = (1,2,3)
l.extend(seq)
print(l)
print()

print('INDEX')
print(l.index(1))
print()

print('INSERT')
l.insert(3, "ck")
print(l)
print()

print('POP')
print(l.pop())
print(l)
print()

print('REMOVE')
l.remove('hello')
print(l)
print()

print('REVERSE')
l.reverse()
print(l)
print()

l=[1,5,2,9.9,-3,1,0,11]
print('SORT')
print(l)
l.sort()
print(l)

APPEND
[1, 2, 'hello', 'a', (2, 3), 5.9, 88.88]

COUNT
1

EXTEND
[1, 2, 'hello', 'a', (2, 3), 5.9, 88.88, 1, 2, 3]

INDEX
0

INSERT
[1, 2, 'hello', 'ck', 'a', (2, 3), 5.9, 88.88, 1, 2, 3]

POP
3
[1, 2, 'hello', 'ck', 'a', (2, 3), 5.9, 88.88, 1, 2]

REMOVE
[1, 2, 'ck', 'a', (2, 3), 5.9, 88.88, 1, 2]

REVERSE
[2, 1, 88.88, 5.9, (2, 3), 'a', 'ck', 2, 1]

SORT
[1, 5, 2, 9.9, -3, 1, 0, 11]
[-3, 0, 1, 1, 2, 5, 9.9, 11]

<hr style="border:2px solid gray"> </hr>

## Tuples

### Declaration

In [17]:
tup1 = (1,2,3,4,5)
tup2 = 'a', 'b', "hello", [1,2,3], (1,2), 0.456, 1

print(tup1)
print(tup2)
print(type(tup2))

(1, 2, 3, 4, 5)
('a', 'b', 'hello', [1, 2, 3], (1, 2), 0.456, 1)
<class 'tuple'>

In [18]:
tup_a = tuple("hello")
tup_b = tuple([1,2,3])

print(tup_a)
print(tup_b)

('h', 'e', 'l', 'l', 'o')
(1, 2, 3)

### Indexing and Slicing
```syntax: tuple_name[start:end:step]```

In [20]:
print(tup1[:])
print(tup1[1::2])
print(tup2[::2])
print(tup2[-4:-2])

(1, 2, 3, 4, 5)
(2, 4)
('a', 'hello', (1, 2), 1)
([1, 2, 3], (1, 2))

### Updating Tuples
Tuples are immutable so the elements cannot be updated or modified.

In [21]:
print("Original Tuple = ",tup1)

try:
    tup1[2]="Wonderful" # this would throw an error
except TypeError:
    print('Error thrown')
    
print("After trying updation = ", tup1)

Original Tuple =  (1, 2, 3, 4, 5)
Error thrown
After trying updation =  (1, 2, 3, 4, 5)

### Deleting Tuple Elements
Tuple elements can't be deleted since they are immutable

In [22]:
print("Original Tuple = ",tup1)

try:
    del tup1[2] # Throws error
except TypeError:
    print('Error encountered')

print("Updated Tuple = ", tup1)

Original Tuple =  (1, 2, 3, 4, 5)
Error encountered
Updated Tuple =  (1, 2, 3, 4, 5)

### Tuple Operations

In [28]:
t1 = tuple("Tuple Operations")
t2 = tuple("ugly duckling")

#### Finding Length

In [29]:
print(len(t1))
print(len(t2))

16
13

#### Concatenation

In [30]:
print(t1+t2)

('T', 'u', 'p', 'l', 'e', ' ', 'O', 'p', 'e', 'r', 'a', 't', 'i', 'o', 'n', 's', 'u', 'g', 'l', 'y', ' ', 'd', 'u', 'c', 'k', 'l', 'i', 'n', 'g')

#### Repetition

In [31]:
print(t1*2)

('T', 'u', 'p', 'l', 'e', ' ', 'O', 'p', 'e', 'r', 'a', 't', 'i', 'o', 'n', 's', 'T', 'u', 'p', 'l', 'e', ' ', 'O', 'p', 'e', 'r', 'a', 't', 'i', 'o', 'n', 's')

#### Checking Membership

In [32]:
'z' in t1

False

#### Traversal

In [33]:
for x in t1+t2:
    print(x, end=', ')

T, u, p, l, e,  , O, p, e, r, a, t, i, o, n, s, u, g, l, y,  , d, u, c, k, l, i, n, g,

<hr style="border:2px solid gray"> </hr>

## Dictionaries
key value pairs

### Declaration

In [42]:
d = {'Name': 'ck', 'Age': 21, 'Class': 'CSE 6th sem'}
print(d)

{'Name': 'ck', 'Age': 21, 'Class': 'CSE 6th sem'}

### Accessing Values

In [43]:
print(d['Name'])
print(d['Class'])

ck
CSE 6th sem

### Updating Values

In [44]:
print(d['Name'])
d['Name']='Chahat'
print(d['Name'])

ck
Chahat

### Deleting Values

In [45]:
print(d['Age'])
del d['Age']

try:
    print(d['Age'])
except KeyError:
    print("Key not present")

21
Key not present

### Finding Length

In [47]:
len(d)

2

### Dictionary Methods

In [49]:
print(d.items())
print(d.keys())
print(d.values())

dict_items([('Name', 'Chahat'), ('Class', 'CSE 6th sem')])
dict_keys(['Name', 'Class'])
dict_values(['Chahat', 'CSE 6th sem'])

In [52]:
seq = ('Hi', 'hello', 'bye')
di = {}
di.fromkeys(seq, 1)

{'Hi': 1, 'hello': 1, 'bye': 1}

In [54]:
di.clear()
di

{}

In [58]:
di.update(d)
di

{'Name': 'Chahat', 'Class': 'CSE 6th sem'}

In [60]:
dic = d.copy()
dic

{'Name': 'Chahat', 'Class': 'CSE 6th sem'}

<hr style="border:2px solid gray"> </hr>

## Functions

In [61]:
def helloFunction():
    print("Hello!")

In [62]:
helloFunction()

Hello!

### Pass by Reference
All parameters in Python functions are passed by reference

In [63]:
def exampleFunction(lst):
    if len(lst)<2: return
    lst[1]='Hello'

In [64]:
lst = [1,2,3,4,5]
exampleFunction(lst)
print(lst)

[1, 'Hello', 3, 4, 5]

### Function Arguments
- Required Arguments
- Keyword Arguments
- Default Arguments
- Variable-length Arguments

#### Required Arguments

In [71]:
def printStuff(l: list, s: str):
    print(l)
    print(s)

In [72]:
l=[1,2,3,4]
s='hi!'

In [73]:
printStuff(l, s)

try:
    printStuff(l)
except:
    print('error')

[1, 2, 3, 4]
hi!
error

#### Keyword Arguments

In [74]:
def printId(name, age):
    print("Name:", name)
    print("Age:", age)

printId(age=13, name='Shinx')

Name: Shinx
Age: 13

#### Default Arguments

In [76]:
def printDefault(name='xyz', age=20):
    print("Name:", name)
    print("Age:", age)
    print()

printDefault(name='hello')
printDefault()
printDefault(age=25)

Name: hello
Age: 20

Name: xyz
Age: 20

Name: xyz
Age: 25

#### Variable-length Arguments

In [78]:
def printStuff(a, *args):
    print(a)
    print(args)
    print()
    
printStuff(1)
printStuff(1, 2)
printStuff(1,2,[1,2])

1
()

1
(2,)

1
(2, [1, 2])

### Anonymous (Lambda) Functions
```
lambda [arg1 [, arg2,...argn]]: expression
```

In [80]:
sum = lambda a, b: a+b
print(sum(1,2))
print(sum('hi, ', 'hello'))

3
hi, hello

### Return Statement

In [81]:
def findSum(a, b):
    return a+b

print(findSum(1,2))
print(findSum('alpha', 'beta'))

3
alphabeta

### Scope of Variables
- Variables inside functions: LOCAL
- Variables outside functions: GLOBAL

In [83]:
a = 10

def aFunction():
    a = 20
    print("inside fn:",a)

aFunction()
print("outside fn:",a)

inside fn: 20
outside fn: 10

<hr style="border:2px solid gray"> </hr>

## Program 1

**Write python code to accept words from the
user until a blank line is entered. The output should display the words exactly
once, in the order in which they were entered.**


**Example Input:**  
red  
black  
red  
orange  
black  


**Output:**  
red  
black  
orange

In [1]:
d = {}

print('INPUT:')
while True:
    word = input()
    if word.strip()=='': break
        
    d[word]=0
    
print('OUTPUT:')
for w in d.keys():
    print(w)

INPUT:
apple
apple
banana
kiwi
banana
orange
strawberry

OUTPUT:
apple
banana
kiwi
orange
strawberry

## Program 2

**Write a program to create a dictionary from two lists. The list values should be input by the user.**


**Example Input:**  
List
1: [red, orange, black]


List
2: [200, 300, 100] 


**Output:**  
{'red': '200','orange': '300', 'black': '100'}

In [92]:
keys = []
values = []

print('Enter first list:')
while True:
    k = input()
    if k.strip()=='': break
        
    keys.append(k)
    
print('\nEnter second list')
for i in range(len(keys)):
    values.append(int(input()))b
    
print('\nLISTS ARE:')
print(keys)
print(values, end='\n\n')

d = {}
for i in range(len(keys)):
    d[keys[i]]=values[i]
    
print('DICTIONARY IS:')
print(d)

Enter first list:
apple
kiwi
mango
guava


Enter second list
12
20
8
9

LISTS ARE:
['apple', 'kiwi', 'mango', 'guava']
['12', '20', '8', '9']

DICTIONARY IS:
{'apple': '12', 'kiwi': '20', 'mango': '8', 'guava': '9'}

**Sort the above dictionary by:**
- Keys
- Values

**Sorting order is given by user.**

In [120]:
print('SORTING BY KEYS')
order = input('Enter 1 or a for ascending order; 0 or d for in descending: ')

if order=='1' or order=='a':
    order = False
else:
    order = True
    
x = sorted(d.items(), key = lambda item:item[0], reverse = order)
d = {}
for t in x:
    d[t[0]] = t[1]

print('DICT SORTED BY KEYS', d, end='\n\n')

SORTING BY KEYS
Enter 1 or a for ascending order; 0 or d for in descending: d
DICT SORTED BY KEYS {'mango': 8, 'kiwi': 20, 'guava': 9, 'apple': 12}

In [119]:
print('SORTING BY VALUES')
order = input('Enter 1 or a for ascending order; 0 or d for in descending: ')

if order=='1' or order=='a':
    order = False
else:
    order = True
    
x = sorted(d.items(), key = lambda item:item[1], reverse = order)
d = {}
for t in x:
    d[t[0]] = t[1]

print('DICT SORTED BY VALUES', d, end='\n\n')

SORTING BY VALUES
Enter 1 or a for ascending order; 0 or d for in descending: a
DICT SORTED BY VALUES {'mango': 8, 'guava': 9, 'apple': 12, 'kiwi': 20}